/* Light mode (scheme: default) */
[data-md-color-scheme="default"] {
  --md-primary-fg-color:        #7413dc; /* Purple */
  --md-accent-fg-color:         #00a794; /* Teal */
}

/* Dark mode (scheme: slate) */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color--dark:  #008576;
  --md-accent-fg-color:         #7413dc; /* Purple */
}