/* Light mode scheme (default) */
[data-md-color-scheme="default"] {
  --md-primary-fg-color:        #7413dc;
  --md-primary-fg-color--light: #7413dc;
  --md-primary-fg-color--dark:  #7413dc;
  --md-accent-fg-color:         #00a794;
}

/* Dark mode scheme (slate) */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #00a794;
  --md-primary-fg-color--light: #00a794;
  --md-primary-fg-color--dark:  #00a794;
  --md-accent-fg-color:         #7413dc;
}